@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-3xl shadow-md;
}

.btn-primary {
  @apply text-white bg-purple-500 hover:bg-purple-600;
}

.btn-danger {
  @apply text-white bg-red-500 hover:bg-red-600;
}
